<footer class="site-footer">

  <small class="site-footer__attribution">

    <span class="site-footer__attribution--copyright">
      &copy; {{date format="YYYY"}}
      <a href="{{@site.url}}/">{{@site.title}}</a> - Tous droits réservés
    </span>&ensp;

  </small>

</footer>
