<header class="main-header" id="main-header">
    <div class="container">
        <a class="main-header__title" href="{{@site.url}}">
            {{#if @site.logo}}
                <div class="main-header__logo">
                    <img src="{{@site.logo}}" alt="{{@site.title}} Logo" />
                </div>
            {{/if}}

            <p class="main-header__blog-title">
                {{@site.title}}
            </p>
        </a>

        <div class="search" data-ghost-search>
            <i data-lucide="search"></i>
            <p>
                Rechercher
            </p>
        </div>
    </div>
</header>
