{{!< default}}

{{>main-header}}

<div class="authors-pres">
    <div class="author">
        <img src="/assets/authors/mikkel.svg" alt="Author" class="author-image">
        <p class="author-name">
            Mikkel
        </p>
    </div>
    <div class="author">
        <img src="/assets/authors/emillien.svg" alt="Author" class="author-image">
        <p class="author-name">
            Emillien
    </p>
    </div>
    <div class="author">
        <img src="/assets/authors/lucas.svg" alt="Author" class="author-image">
        <p class="author-name">
            Lucas
        </p>
    </div>
    <div class="author">
        <img src="/assets/authors/remy.svg" alt="Author" class="author-image">
        <p class="author-name">
            Remy
        </p>
        </div>
    <div class="author">
        <img src="/assets/authors/tom.svg" alt="Author" class="author-image">
        <p class="author-name">
            Tom
        </p>
    </div>
    <div class="author">
        <img src="/assets/authors/vincent.svg" alt="Author" class="author-image">
        <p class="author-name">
            Vincent
        </p>
    </div>
    <div class="author">
        <img src="/assets/authors/yann.svg" alt="Author" class="author-image">
        <p class="author-name">
            Yann
        </p>
    </div>
</div>

<main class="content post-list" id="content">
    {{!-- The tag below includes the post loop - partials/loop.hbs --}}
    {{> "loop"}}
</main>
